.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-wrapper{
  width: 350px;
  background-color: rgba(185, 185, 185, 0.097);
  border-radius: 5px;
  margin: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;

  h2{
    font-family: $roboto-font;
    font-weight: bold;
    text-decoration: none;
  }

  .card-info{
    padding: 16px;
  }
}
