.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-left: 50px;
}

.card-wrapper-list{
  width: 350px;
  border-radius: 5px;
  margin: 40px;

  h2{
    font-family: $roboto-font;
    font-weight: bold;
    color: black;
    font-size: 24px;
  }

  .card-info{
    padding-top: 16px;
  }

  img {
    border-radius: 8px;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

.card-wrapper-list:hover{

  h2 {
   color: rgba(0, 0, 0, 0.694);
 }

 img{
  filter: brightness(.8);
}

}
