.navbar-lewagon {
  justify-content: space-between;
  background: #D1E6E4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon #navbarSupportedContent{
  margin-right: 20px;
}

.navbar-lewagon li a {
    color: #309A8A;
    font-size: 18px;
    font-family: $roboto-font;
    font-weight: bold;
}
